.main-slider {
    height: 100vh;
    position: relative;
}

.homeSlider.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.homeSlider.swiper-container .swiper-slide {
    overflow: hidden;
}

.homeSlider .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.main-slider h1 {
    font-size: 5rem;
    color: var(--white);
    font-weight: 600;
}

.main-slider p {
    font-size: 1.875rem;
    color: var(--white);
}

.main-slider ul li a {
    font-size: 1.25rem;
    color: var(--white);
    position: relative;
    display: block;
    padding: 0 0 8px 1.3125rem;
}

.main-slider ul li a:before {
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 7px;
    height: 7px;
    border-radius: 50px;
    top: 11px;
    left: 0;
}
